/******************************************************************
Site Name:
Author:

Stylesheet: IE Stylesheet

So instead of using the respond.js file to add media query support
to IE, we're going to use SASS to create an easily readable css file.
Here, we import all the styles the standard stylesheet gets, only
without the media queries. No need to worry about editing anything!

******************************************************************/
/******************************************************************
IMPORTS & DEPENDENCIES
Remember, all the BASE styles are called already since IE can
read those. Below, we need to import only the stuff IE can't
understand (what's inside the media queries). We also need to
import the mixins file so SASS can understand the variables.
******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.

******************************************************************/
/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/
/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/
/******************************************************************
Site Name:
Author:

Stylesheet: Typography

Need to import a font or set of icons for your site? Drop them in
here or just use this to establish your typographical grid. Or not.
Do whatever you want to...GOSH!

Helpful Articles:
http://trentwalton.com/2012/06/19/fluid-type/
http://ia.net/blog/responsive-typography-the-basics/
http://alistapart.com/column/responsive-typography-is-a-physical-discipline

******************************************************************/
/*********************
FONT FACE (IN YOUR FACE)
*********************/
/*  To embed your own fonts, use this syntax
  and place your fonts inside the
  library/fonts folder. For more information
  on embedding fonts, go to:
  http://www.fontsquirrel.com/
  Be sure to remove the comment brackets.
*/
/*  @font-face {
      font-family: 'Font Name';
      src: url('library/fonts/font-name.eot');
      src: url('library/fonts/font-name.eot?#iefix') format('embedded-opentype'),
             url('library/fonts/font-name.woff') format('woff'),
             url('library/fonts/font-name.ttf') format('truetype'),
             url('library/fonts/font-name.svg#font-name') format('svg');
      font-weight: normal;
      font-style: normal;
  }
*/
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Regular.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Light.otf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Bold.otf");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-Semibold.otf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova';
  src: url("../fonts/ProximaNova-RegItalic.otf");
  font-weight: normal;
  font-style: italic;
}
/*
The following is based of Typebase:
https://github.com/devinhunt/typebase.css
I've edited it a bit, but it's a nice starting point.
*/
/*
 i imported this one in the functions file so bones would look sweet.
 don't forget to remove it for your site.
*/
/*
some nice typographical defaults
more here: http://www.newnet-soft.com/blog/csstypography
*/
/* line 99, ../scss/partials/_typography.scss */
p {
  -ms-word-wrap: break-word;
  word-break: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  -webkit-hyphenate-before: 2;
  -webkit-hyphenate-after: 3;
  hyphenate-lines: 3;
  -webkit-font-feature-settings: "liga", "dlig";
  -moz-font-feature-settings: "liga=1, dlig=1";
  -ms-font-feature-settings: "liga", "dlig";
  -o-font-feature-settings: "liga", "dlig";
  font-feature-settings: "liga", "dlig";
}

/******************************************************************
Site Name:
Author:

Stylesheet: Mixins Stylesheet

This is where you can take advantage of Sass' great features: Mixins.
I won't go in-depth on how they work exactly,
there are a few articles below that will help do that. What I will
tell you is that this will help speed up simple changes like
changing a color or adding CSS3 techniques gradients.

A WORD OF WARNING: It's very easy to overdo it here. Be careful and
remember less is more.

Helpful:
http://sachagreif.com/useful-sass-mixins/
http://thesassway.com/intermediate/leveraging-sass-mixins-for-cleaner-code
http://web-design-weekly.com/blog/2013/05/12/handy-sass-mixins/

******************************************************************/
/*********************
TRANSITION
*********************/
/*
I totally rewrote this to be cleaner and easier to use.
You'll need to be using Sass 3.2+ for these to work.
Thanks to @anthonyshort for the inspiration on these.
USAGE: @include transition(all 0.2s ease-in-out);
*/
/*********************
CSS3 GRADIENTS
Be careful with these since they can
really slow down your CSS. Don't overdo it.
*********************/
/* @include css-gradient(#dfdfdf,#f8f8f8); */
/*********************
BOX SIZING
*********************/
/* @include box-sizing(border-box); */
/* NOTE: value of "padding-box" is only supported in Gecko. So
probably best not to use it. I mean, were you going to anyway? */
/******************************************************************
Site Name:
Author:

Stylesheet: IE Grid Styles

Since the example grid is based on media queries, so rather than
setup some js library that would make IE8 and below understand
media queries, let's just add some styles that serves a fixed grid.

Again, if you want to roll your own, just remove this junk and put
whatever you use in here.

******************************************************************/
/******************************************************************
Site Name:
Author:

Stylesheet: 481px and Up Stylesheet

This stylesheet is loaded for larger devices. It's set to
481px because at 480px it would load on a landscaped iPhone.
This isn't ideal because then you would be loading all those
extra styles on that same mobile connection.

A word of warning. This size COULD be a larger mobile device,
so you still want to keep it pretty light and simply expand
upon your base.scss styles.

******************************************************************/
/*
IMPORTANT NOTE ABOUT SASS 3.3 & UP
You can't use @extend within media queries
anymore, so just be aware that if you drop
them in here, they won't work.
*/
/* line 25, ../scss/breakpoints/_481up.scss */
.show-content {
  padding: 0px;
}

/* line 29, ../scss/breakpoints/_481up.scss */
.sidebar {
  display: none;
}

/*********************
NAVIGATION STYLES
*********************/
/* .menu is clearfixed inside mixins.scss */
/* line 40, ../scss/breakpoints/_481up.scss */
.menu {
  /* end .menu ul */
}
/* line 41, ../scss/breakpoints/_481up.scss */
.menu ul {
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 42, ../scss/breakpoints/_481up.scss */
.menu ul li {
  /*
  plan your menus and drop-downs wisely.
  */
}
/* line 43, ../scss/breakpoints/_481up.scss */
.menu ul li a {
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}

/* end .menu */
/*********************
POSTS & CONTENT STYLES
*********************/
/* entry content */
/* line 88, ../scss/breakpoints/_481up.scss */
.entry-content {
  /* at this larger size, we can start to align images */
}
/* line 92, ../scss/breakpoints/_481up.scss */
.entry-content .alignleft, .entry-content img.alignleft {
  margin-right: 1.5em;
  display: inline;
  float: left;
}
/* line 97, ../scss/breakpoints/_481up.scss */
.entry-content .alignright, .entry-content img.alignright {
  margin-left: 1.5em;
  display: inline;
  float: right;
}
/* line 102, ../scss/breakpoints/_481up.scss */
.entry-content .aligncenter, .entry-content img.aligncenter {
  margin-right: auto;
  margin-left: auto;
  display: block;
  clear: both;
}

/* end .entry-content */
/*********************
FOOTER STYLES
*********************/
/*
check your menus here. do they look good?
do they need tweaking?
*/
/* end .footer-links */
/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/
/*********************
GENERAL STYLES
*********************/
/*********************
LAYOUT & GRID STYLES
*********************/
/* line 26, ../scss/breakpoints/_768up.scss */
.wrap {
  width: 760px;
}

/*********************
HEADER STYLES
*********************/
/* line 36, ../scss/breakpoints/_768up.scss */
.above-nav {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
/* line 43, ../scss/breakpoints/_768up.scss */
.above-nav .phone-btn {
  height: 47px;
}

/* line 48, ../scss/breakpoints/_768up.scss */
#logo {
  height: inherit;
  margin: 0px;
}
/* line 52, ../scss/breakpoints/_768up.scss */
#logo img {
  height: inherit;
  width: auto;
}

/* line 58, ../scss/breakpoints/_768up.scss */
#container {
  margin-top: 39px;
}

/* line 64, ../scss/breakpoints/_768up.scss */
#searchform input {
  width: 286px;
  height: 37px;
  margin: 0px 11px 0px 0px;
  display: inline;
  border: 0px;
  float: left;
}
/* line 73, ../scss/breakpoints/_768up.scss */
#searchform button {
  display: inline;
  width: 40px;
  padding: 0px;
  border: 0px;
}
/* line 79, ../scss/breakpoints/_768up.scss */
#searchform button img {
  display: block;
}

/* line 85, ../scss/breakpoints/_768up.scss */
nav {
  height: 49px;
}
/* line 88, ../scss/breakpoints/_768up.scss */
nav li {
  margin-right: 14px;
}

/*********************
NAVIGATION STYLES
*********************/
/* line 97, ../scss/breakpoints/_768up.scss */
nav ul {
  text-transform: uppercase;
}

/* line 102, ../scss/breakpoints/_768up.scss */
.nav {
  border: 0;
  /* end .menu ul li */
  /* highlight current page */
  /* end current highlighters */
}
/* line 104, ../scss/breakpoints/_768up.scss */
.nav ul {
  background: #000;
  margin-top: 0;
}
/* line 108, ../scss/breakpoints/_768up.scss */
.nav li {
  float: left;
  position: relative;
  /*
  plan your menus and drop-downs wisely.
  */
  /* showing sub-menus */
}
/* line 112, ../scss/breakpoints/_768up.scss */
.nav li a {
  border-bottom: 0;
  letter-spacing: 1px;
  /*
  you can use hover styles here even though this size
  has the possibility of being a mobile device.
  */
}
/* line 120, ../scss/breakpoints/_768up.scss */
.nav li a:hover, .nav li a:focus {
  color: #fff;
  text-decoration: underline;
}
/* line 132, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu,
.nav li ul.children {
  margin-top: 0;
  border: 1px solid #ccc;
  border-top: 0;
  position: absolute;
  visibility: hidden;
  z-index: 8999;
  /* highlight sub-menu current page */
}
/* line 141, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li,
.nav li ul.children li {
  /*
  if you need to go deeper, go nuts
  just remember deeper menus suck
  for usability. k, bai.
  */
}
/* line 143, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li a,
.nav li ul.children li a {
  padding-left: 10px;
  border-right: 0;
  display: block;
  width: 180px;
  border-bottom: 1px solid #ccc;
}
/* line 160, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li:last-child a,
.nav li ul.children li:last-child a {
  border-bottom: 0;
}
/* line 170, ../scss/breakpoints/_768up.scss */
.nav li ul.sub-menu li ul,
.nav li ul.children li ul {
  top: 0;
  left: 100%;
}
/* line 185, ../scss/breakpoints/_768up.scss */
.nav li:hover > ul {
  top: auto;
  visibility: visible;
}

/* end .nav */
/*********************
SIDEBARS & ASIDES
*********************/
/* line 205, ../scss/breakpoints/_768up.scss */
.sidebar {
  padding: 40px;
  float: left;
  background-color: black;
  color: white;
}
/* line 211, ../scss/breakpoints/_768up.scss */
.sidebar .show-list {
  flex-direction: column;
}
/* line 214, ../scss/breakpoints/_768up.scss */
.sidebar .show-list .show-list-item {
  margin-left: auto;
  margin-right: auto;
}
/* line 219, ../scss/breakpoints/_768up.scss */
.sidebar .show-list .show-list-nav {
  display: none;
}

/* line 225, ../scss/breakpoints/_768up.scss */
.sidebar-img {
  width: 100%;
  margin-bottom: 28px;
}
/* line 229, ../scss/breakpoints/_768up.scss */
.sidebar-img img {
  width: inherit;
  height: auto;
}

/* line 237, ../scss/breakpoints/_768up.scss */
.sidebar .shows-listing h3 {
  text-align: center;
}
/* line 241, ../scss/breakpoints/_768up.scss */
.sidebar .shows-listing .show-poster {
  width: 167px;
  margin-left: auto;
  margin-right: auto;
}
/* line 246, ../scss/breakpoints/_768up.scss */
.sidebar .shows-listing .show-poster img {
  width: 100%;
  height: auto;
}

/* line 253, ../scss/breakpoints/_768up.scss */
.sidebar .contact-faq {
  background-image: url("../assets/speech-bubble.png");
  background-size: 100% auto;
  height: 86px;
  background-repeat: no-repeat;
}
/* line 259, ../scss/breakpoints/_768up.scss */
.sidebar .contact-faq a {
  color: black;
  position: relative;
  top: 22%;
  left: 20%;
}

/* line 272, ../scss/breakpoints/_768up.scss */
.widget ul li {
  /* deep nesting */
}

/* line 289, ../scss/breakpoints/_768up.scss */
.no-widgets {
  background-color: #fff;
  padding: 1.5em;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 2px;
  margin-bottom: 1.5em;
}

/* line 298, ../scss/breakpoints/_768up.scss */
.show-list {
  display: flex;
  justify-content: space-around;
}
/* line 302, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
/* line 310, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item .show-poster img {
  width: 100%;
  height: auto;
}
/* line 316, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item .show-title {
  font-weight: 600;
  text-decoration: none;
  font-size: 18px;
}
/* line 321, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item .show-title a {
  color: black;
}

/* line 328, ../scss/breakpoints/_768up.scss */
.sidebar {
  /*margin-top: 2.2em;*/
}

/* line 332, ../scss/breakpoints/_768up.scss */
.widgettitle {
  border-bottom: 2px solid #444;
  margin-bottom: 0.75em;
}

/* line 337, ../scss/breakpoints/_768up.scss */
.widget {
  padding: 0 10px;
  margin: 2.2em 0;
}
/* line 342, ../scss/breakpoints/_768up.scss */
.widget ul li {
  margin-bottom: 0.75em;
  /* deep nesting */
}
/* line 350, ../scss/breakpoints/_768up.scss */
.widget ul li ul {
  margin-top: 0.75em;
  padding-left: 1em;
}

/* links widget */
/* meta widget */
/* pages widget */
/* recent-posts widget */
/* archives widget */
/* tag-cloud widget */
/* calendar widget */
/* category widget */
/* recent-comments widget */
/* search widget */
/* text widget */
/*********************
FOOTER STYLES
*********************/
/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
/* line 458, ../scss/breakpoints/_768up.scss */
.footer-links ul li {
  /*
  be careful with the depth of your menus.
  it's very rare to have multi-depth menus in
  the footer.
  */
}

/* end .footer-links */
/* line 472, ../scss/breakpoints/_768up.scss */
.footer-columns {
  font-size: 14px;
}
/* line 475, ../scss/breakpoints/_768up.scss */
.footer-columns .footer-column-header {
  margin-bottom: 0px;
}
/* line 479, ../scss/breakpoints/_768up.scss */
.footer-columns ul {
  margin: 0px;
}
/* line 483, ../scss/breakpoints/_768up.scss */
.footer-columns li {
  padding-top: 4px;
}

/* line 492, ../scss/breakpoints/_768up.scss */
.footer-top .wpcf7-form .wpcf7-email {
  width: 140px;
}

/* line 498, ../scss/breakpoints/_768up.scss */
.copywrite {
  font-size: 12px;
}

/*********************
HOMEPAGE STYLES
*********************/
/* line 508, ../scss/breakpoints/_768up.scss */
#top-sellers h1 {
  letter-spacing: 1px;
}

/* line 515, ../scss/breakpoints/_768up.scss */
.home h1 {
  margin-bottom: 20px;
  margin-top: 40px;
}
/* line 520, ../scss/breakpoints/_768up.scss */
.home .top-seller-poster {
  -webkit-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 6px 6px 5px 0px rgba(0, 0, 0, 0.3);
  font-size: 0px;
  margin-bottom: 30px;
}

/* line 529, ../scss/breakpoints/_768up.scss */
.top-sellers-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
/* line 534, ../scss/breakpoints/_768up.scss */
.top-sellers-list .top-seller-poster a {
  width: 165px;
}
/* line 537, ../scss/breakpoints/_768up.scss */
.top-sellers-list .top-seller-poster a img {
  width: inherit;
  height: auto;
}

/* line 544, ../scss/breakpoints/_768up.scss */
#home-banner-image {
  margin: 40px 0px;
}

/* line 548, ../scss/breakpoints/_768up.scss */
#home-bottom-banner {
  margin: 60px 0px 54px 0px;
}

/* line 552, ../scss/breakpoints/_768up.scss */
.sidebar {
  display: block;
}

/* line 556, ../scss/breakpoints/_768up.scss */
.body-content {
  padding: 40px 0px 40px 40px;
}

/* line 560, ../scss/breakpoints/_768up.scss */
#home-page-slider {
  width: 100%;
  height: 441px;
  background-color: black;
  border-bottom: solid 11px #ffa700;
  /* Close #gallery-block */
}
/* line 566, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block {
  position: relative;
  height: 430px;
  width: 75%;
  overflow: hidden;
  display: inline-block;
}
/* line 573, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block .slide-gradient {
  width: 100%;
  height: 100%;
  background: linear-gradient(black, transparent);
  background: -webkit-linear-gradient(black, transparent);
  background: -o-linear-gradient(black, transparent);
  backgrond: -moz-linear-gradient(black, transparent);
  padding: 25px;
}
/* line 583, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide {
  height: inherit;
  /*padding: 25px;*/
  background-size: cover;
  background-position: center;
  display: none;
}
/* line 590, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide.active-slide {
  display: block;
}
/* line 594, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .show-info {
  margin-left: 15px;
  color: white;
  float: left;
}
/* line 599, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .show-info h3 {
  font-weight: bold;
  font-size: 23px;
  margin-top: 0px;
}
/* line 605, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .show-info a.filled-buy {
  text-decoration: none;
}
/* line 609, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .show-info .filled-buy div {
  background-color: #ffa700;
  text-transform: uppercase;
  font-weight: 600;
  border-radius: 20px;
  color: black;
  padding: 5px;
  text-align: center;
  width: 120px;
  font-size: 13px;
}
/* line 621, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .show-info .more-info {
  margin-top: 15px;
  margin-left: 8px;
}
/* line 625, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .show-info .more-info a {
  color: white;
}
/* line 631, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .poster {
  float: left;
  border-right: #b3b3b3 solid 1px;
  padding-right: 15px;
  height: 80%;
}
/* line 637, ../scss/breakpoints/_768up.scss */
#home-page-slider #gallery-block div.slide .poster img {
  width: auto;
  height: inherit;
}
/* line 645, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing {
  float: right;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  padding: 15px 0px 0px 15px;
  height: 100%;
}
/* line 654, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing {
  clear: both;
  display: flex;
  margin-bottom: 8px;
  position: relative;
  vertical-align: middle;
}
/* line 661, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing img.dotted-arrow {
  display: none;
  position: absolute;
  left: -35px;
  top: 11px;
  height: 50px;
  width: auto;
}
/* line 669, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing img.dotted-arrow.active-arrow {
  display: block;
}
/* line 673, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing .active::before {
  content: url(../assets/icons/dotted-arrow.png);
}
/* line 677, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing .show-info {
  float: right;
  width: 62%;
  margin: auto 0px auto 11px;
}
/* line 684, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing .show-info .buy-tickets div {
  display: inline-block;
  font-size: 9px;
  text-transform: uppercase;
  font-weight: 600;
}
/* line 692, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing .show-info .show-title {
  color: white;
  font-weight: bold;
  font-size: 13px;
  margin-left: 7px;
}
/* line 700, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing .poster {
  width: 34%;
  float: left;
}
/* line 704, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .show-listing .poster img {
  width: 100%;
  height: auto;
}
/* line 711, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .buy-tickets {
  padding: 0px 10px;
}
/* line 714, ../scss/breakpoints/_768up.scss */
#home-page-slider #slider-listing .buy-tickets div {
  font-size: 13px;
}

/*********************
GENERAL STYLES
*********************/
/* line 726, ../scss/breakpoints/_768up.scss */
#beyond-buzz {
  width: 100%;
  color: white;
}
/* line 730, ../scss/breakpoints/_768up.scss */
#beyond-buzz a {
  color: white;
  text-decoration: none;
}
/* line 735, ../scss/breakpoints/_768up.scss */
#beyond-buzz article:first-of-type {
  float: left;
  width: 59%;
  height: 100%;
  margin-right: 1%;
  margin-bottom: 0px;
}
/* line 742, ../scss/breakpoints/_768up.scss */
#beyond-buzz article:first-of-type .recent-title {
  font-weight: 600;
  font-size: 25px;
}
/* line 747, ../scss/breakpoints/_768up.scss */
#beyond-buzz article:first-of-type .recent-meta {
  font-size: 18px;
}
/* line 751, ../scss/breakpoints/_768up.scss */
#beyond-buzz article:first-of-type .content {
  width: 100%;
  padding-left: 10px;
  line-height: 28px;
}
/* line 757, ../scss/breakpoints/_768up.scss */
#beyond-buzz article:first-of-type .beyond-buzz-star {
  width: 30%;
  top: 10px;
  left: 10px;
  z-index: 10;
}
/* line 765, ../scss/breakpoints/_768up.scss */
#beyond-buzz article {
  float: right;
  width: 40%;
  height: 49%;
  margin-bottom: 1%;
  background-size: cover;
  background-position: center;
  position: relative;
}
/* line 774, ../scss/breakpoints/_768up.scss */
#beyond-buzz article .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 50%;
  height: 100%;
  float: right;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 10px;
  line-height: 22px;
}
/* line 786, ../scss/breakpoints/_768up.scss */
#beyond-buzz article .recent-title {
  font-size: 14px;
}
/* line 790, ../scss/breakpoints/_768up.scss */
#beyond-buzz article .recent-meta {
  font-size: 11px;
}
/* line 794, ../scss/breakpoints/_768up.scss */
#beyond-buzz article .beyond-buzz-star {
  position: absolute;
  width: 19%;
  top: 10px;
  left: 10px;
}
/* line 802, ../scss/breakpoints/_768up.scss */
#beyond-buzz article:last-of-type {
  margin-bottom: 0px;
}

/* line 807, ../scss/breakpoints/_768up.scss */
#beyond-buzz .headline-container {
  height: 300px;
}

/* line 811, ../scss/breakpoints/_768up.scss */
.show-content {
  padding: 0px 10px 0px 10px;
}

/* line 815, ../scss/breakpoints/_768up.scss */
.cal-nav {
  font-size: 14px;
  position: relative;
  top: 7px;
}
/* line 820, ../scss/breakpoints/_768up.scss */
.cal-nav img {
  width: 18px;
}
/* line 824, ../scss/breakpoints/_768up.scss */
.cal-nav #date-range {
  margin: auto 5px;
  position: relative;
  top: -3px;
}

/* line 831, ../scss/breakpoints/_768up.scss */
#month-selector {
  width: 90px;
  font-size: 14px;
}

/* line 836, ../scss/breakpoints/_768up.scss */
#venue-selector {
  width: auto;
  padding-right: 25px;
  margin-left: 15px;
  font-size: 14px;
}

/* line 845, ../scss/breakpoints/_768up.scss */
table#events-calendar .days-heading {
  font-size: 14px;
}
/* line 849, ../scss/breakpoints/_768up.scss */
table#events-calendar .show-time {
  font-size: 14px;
}

/* line 856, ../scss/breakpoints/_768up.scss */
.search-results div.month-filter {
  overflow: hidden;
}
/* line 859, ../scss/breakpoints/_768up.scss */
.search-results div.month-filter select {
  padding: 10px;
  height: 100%;
  overflow: hidden;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: none;
  background-color: transparent;
}
/* line 870, ../scss/breakpoints/_768up.scss */
.search-results h3 {
  font-size: 18px;
  max-width: 260px;
}
/* line 875, ../scss/breakpoints/_768up.scss */
.search-results .shows-results-list {
  margin-left: 25px;
}
/* line 880, ../scss/breakpoints/_768up.scss */
.search-results .show-info h4 {
  margin: 5px 0px;
}
/* line 884, ../scss/breakpoints/_768up.scss */
.search-results .show-info ul li {
  max-width: 260px;
}
/* line 887, ../scss/breakpoints/_768up.scss */
.search-results .show-info ul li a {
  font-size: 18px;
}
/* line 893, ../scss/breakpoints/_768up.scss */
.search-results article {
  padding: 0px;
}
/* line 897, ../scss/breakpoints/_768up.scss */
.search-results .thumbnail {
  width: 150px;
}
/* line 901, ../scss/breakpoints/_768up.scss */
.search-results .result-body {
  max-width: 260px;
}

/* line 914, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item {
  width: 130px;
  margin: 0px 5px;
}
/* line 921, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item .show-title {
  font-size: 18px;
}
/* line 924, ../scss/breakpoints/_768up.scss */
.show-list .show-list-item .show-title a {
  color: black;
}

/******************************************************************
Site Name:
Author:

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop.

******************************************************************/
/* line 12, ../scss/breakpoints/_1030up.scss */
.wrap {
  width: 1040px;
}

/* line 16, ../scss/breakpoints/_1030up.scss */
.above-nav {
  height: 110px;
}

/* line 22, ../scss/breakpoints/_1030up.scss */
#search-form input {
  width: 526px;
}
/* line 26, ../scss/breakpoints/_1030up.scss */
#search-form button {
  width: 52px;
}

/* line 33, ../scss/breakpoints/_1030up.scss */
nav li {
  margin-right: 35px;
}

/* line 38, ../scss/breakpoints/_1030up.scss */
.nav {
  margin-left: 6px;
}

/* line 44, ../scss/breakpoints/_1030up.scss */
.top-sellers-list .top-seller-poster:nth-child(6n+0) {
  margin-right: 0px;
}
/* line 48, ../scss/breakpoints/_1030up.scss */
.top-sellers-list .top-seller-poster {
  margin-right: 35px;
  margin-bottom: 35px;
}

/* line 54, ../scss/breakpoints/_1030up.scss */
.show-content {
  padding: 0px 0px 0px 40px;
}

/* line 60, ../scss/breakpoints/_1030up.scss */
table#events-calendar .days-heading {
  font-size: 16px;
}
/* line 64, ../scss/breakpoints/_1030up.scss */
table#events-calendar .show-time {
  font-size: 16px;
}

/* line 69, ../scss/breakpoints/_1030up.scss */
.cal-nav {
  width: 180px;
  font-size: 16px;
}
/* line 73, ../scss/breakpoints/_1030up.scss */
.cal-nav img {
  height: 30px;
}
/* line 77, ../scss/breakpoints/_1030up.scss */
.cal-nav #date-range {
  margin: auto 10px;
  position: initial;
}

/* line 83, ../scss/breakpoints/_1030up.scss */
#month-selector {
  width: 100px;
  font-size: 16px;
}

/* line 88, ../scss/breakpoints/_1030up.scss */
#venue-selector {
  width: auto;
  padding-right: 25px;
  margin-left: 20px;
  font-size: 16px;
}

/****************
FRONT PAGE STYLES
****************/
/* line 102, ../scss/breakpoints/_1030up.scss */
#beyond-buzz .headline-container {
  height: 500px;
}
/* line 108, ../scss/breakpoints/_1030up.scss */
#beyond-buzz article:first-of-type .recent-title {
  font-size: 30px;
}
/* line 115, ../scss/breakpoints/_1030up.scss */
#beyond-buzz article .recent-title {
  font-weight: 600;
  font-size: 16px;
}
/* line 120, ../scss/breakpoints/_1030up.scss */
#beyond-buzz article .recent-meta {
  font-size: 13px;
}

/* line 129, ../scss/breakpoints/_1030up.scss */
#home-page-slider {
  height: 511px;
}
/* line 132, ../scss/breakpoints/_1030up.scss */
#home-page-slider #gallery-block {
  height: 500px;
}
/* line 135, ../scss/breakpoints/_1030up.scss */
#home-page-slider #gallery-block .slide-gradient {
  padding: 39px;
}
/* line 139, ../scss/breakpoints/_1030up.scss */
#home-page-slider #gallery-block div.slide {
  /*padding: 39px;*/
}
/* line 144, ../scss/breakpoints/_1030up.scss */
#home-page-slider #gallery-block div.slide .show-info h3 {
  font-size: 30px;
}
/* line 148, ../scss/breakpoints/_1030up.scss */
#home-page-slider #gallery-block div.slide .show-info .filled-buy div {
  border-radius: 20px;
  padding: 5px;
  width: 130px;
}
/* line 157, ../scss/breakpoints/_1030up.scss */
#home-page-slider #slider-listing {
  padding: 25px 0px 0px 30px;
  height: 500px;
}
/* line 163, ../scss/breakpoints/_1030up.scss */
#home-page-slider #slider-listing .show-listing img.dotted-arrow {
  left: -50px;
  top: 20px;
  height: 60px;
}
/* line 169, ../scss/breakpoints/_1030up.scss */
#home-page-slider #slider-listing .show-listing .poster {
  width: 30%;
}
/* line 173, ../scss/breakpoints/_1030up.scss */
#home-page-slider #slider-listing .show-listing .show-info {
  width: 64%;
}
/* line 178, ../scss/breakpoints/_1030up.scss */
#home-page-slider #slider-listing .show-listing .show-info .buy-tickets div {
  font-size: 15px;
}
/* line 183, ../scss/breakpoints/_1030up.scss */
#home-page-slider #slider-listing .show-listing .show-info .show-title {
  font-size: 18px;
}

/* line 193, ../scss/breakpoints/_1030up.scss */
#searchform input {
  width: 526px;
  height: 47px;
  margin: 0px 11px 0px 0px;
}
/* line 199, ../scss/breakpoints/_1030up.scss */
#searchform button {
  width: 52px;
}

/* line 206, ../scss/breakpoints/_1030up.scss */
.search-results article {
  padding: 40px;
}
/* line 210, ../scss/breakpoints/_1030up.scss */
.search-results h3 {
  font-size: 20px;
  font-weight: bold;
  max-width: 490px;
}
/* line 216, ../scss/breakpoints/_1030up.scss */
.search-results .thumbnail {
  width: 200px;
}
/* line 222, ../scss/breakpoints/_1030up.scss */
.search-results .show-info ul li {
  max-width: 490px;
}
/* line 227, ../scss/breakpoints/_1030up.scss */
.search-results .result-body {
  max-width: 490px;
}

/* line 234, ../scss/breakpoints/_1030up.scss */
.show-list .show-list-item {
  width: 150px;
}
/* line 243, ../scss/breakpoints/_1030up.scss */
.show-list .show-list-item .show-title {
  font-size: 18px;
}
/* line 246, ../scss/breakpoints/_1030up.scss */
.show-list .show-list-item .show-title a {
  color: black;
}

/* line 253, ../scss/breakpoints/_1030up.scss */
.venue-map-holder {
  width: 320px;
  height: 320px;
  float: left;
  margin-right: 20px;
}
/* line 259, ../scss/breakpoints/_1030up.scss */
.venue-map-holder iframe {
  width: 100%;
  height: 100%;
}

/* line 265, ../scss/breakpoints/_1030up.scss */
.footer-columns {
  font-size: 18px;
}

/* line 273, ../scss/breakpoints/_1030up.scss */
.footer-top .wpcf7-form .wpcf7-email {
  width: 187px;
}

/*
you can call the larger styles if you want, but there's really no need
*/
/******************************************************************
ADDITIONAL IE FIXES
These fixes are now ONLY seen by IE, so you don't have to worry
about using prefixes, although it's best practice. For more info
on using Modernizr classes, check out this link:
http://www.modernizr.com/docs/
******************************************************************/
/*
For example, you can use something like:

.no-textshadow .class { ... }

You can also target specific versions by using the classes applied to
the html element. These can sometimes change, so take a look inside the
header.php file to see what they are:


.lt-ie8 .class { ... }

*/
